.weekWeather{
    display: flex;
    justify-content: space-around;
}
body{
    text-align: center !important;
    background-color: #3b3f41 !important;
    color: #ba8b57 !important;
}
.map{
    margin-top: 60px;
}
@media (max-width: 567px) {
    .weekWeather{
    display: grid; justify-items: center;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-around;
}

}
.blockWeather{
    border-style: inset;
    border-color: #ba8b57;
    border-radius: 5%;
    margin: 10px;
    padding: 7px;
}
h2{
    text-align: center !important;
}